<header class="header">
  <a class="header__logo">
    <app-monogram [highlight]="true" />
  </a>

  <nav class="header__nav">
    <div class="header__menu header__menu--main">
      <a href="" class="header_link">I</a>
      <a href="" class="header_link">Hello</a>
      <a href="" class="header_link">Hello</a>
    </div>

    <div class="header__menu header__menu--social">
      <a href="" class="header_link">Social media</a>
      <a href="" class="header_link">Social media</a>
      <a href="" class="header_link">Social media</a>
    </div>
  </nav>
</header>
