<header class="relative md:absolute w-full top-0 md:top-12">
    <nav class="container flex items-center justify-center bg-dark-grey md:bg-transparent px-6 py-4">
        <div class="">
            <img src="../../../assets/images/rm.png" alt="" id="logo">
        </div>
        <ul class="hidden sm:flex flex-1 justify-end gap-12">
            <li class="text-white text-md cursor-pointer" routerLink="/" routerLinkActive="text-primary font-bold">Home
            </li>
            <li class="text-white text-md cursor-pointer">Projects</li>
            <li class="text-white text-md cursor-pointer">Contact</li>
        </ul>

        <div class="flex flex-1 justify-end sm:hidden">
            <!-- <i class="text-2xl fas fa-bars"></i> -->
            <i class="text-white text-base fa fa-bars" aria-hidden="true"></i>
        </div>
    </nav>
</header>

<!-- Banner -->
<section class="flex items-center bg-dark-grey py-20 md:h-screen">
    <div class="max-w-5xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 text-white px-6">
        <div class="flex flex-col">
            <h1
                class="font-nexa-bold text-3xl sm:text-4xl md:text-5xl lg:text-7xl text-center lg:text-left leading-relaxed tracking-widest">
                Reginald Mabanta</h1>
            <div class="flex flex-row flex-wrap justify-center lg:justify-start gap-8 mt-6 lg:mt-12">
                <a href="https://www.facebook.com/reginald.mabanta/" target="_blank">
                    <i class="text-xl fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/egieegie/" target="_blank">
                    <i class="text-xl fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/reginald-mabanta-641727111" target="_blank">
                    <i class="text-xl fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/egiev" target="_blank">
                    <i class="text-xl fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="heading">Introduction</p>

            <h3 class="text-xl sm:text-2xl lg:text-3xl mb-6 lg:mb-12">Frontend Developer / Wordpress Developer</h3>
            <p class="mb-6 lg:mb-12">
                Hi, Welcome to my Profile! <br><br>
                Are you looking for a Frontend Developer or Wordpress Developer to help
                you to develop your website ? <br><br>
                You are in the right place!
            </p>

            <a href="#profile" class="text-primary font-nexa-bold text-xl no-underline">My Profile <i class="ml-3 fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>

<!-- About -->
<section class="bg-light-grey py-20 text-white">
    <div class="container flex flex-col lg:flex-row gap-8 lg:gap-24 px-6">
        <div class="flex">
            <img class="w-auto md:max-w-xs" src="../../../assets/images/egie.png" alt="">
        </div>
        <div class="flex flex-col">
            <p class="heading">Profile</p>
            <h1 class="text-xl sm:text-2xl lg:text-3xl mb-6 lg:mb-8">Reginald Mabanta</h1>
            <p>
                Hi, let me give you a little background about myself.
                
                I'm Reginald Mabanta, <span id="age"></span> years old, from the Philippines. <br><br>
                
                I've been working in the tech industry as a Web Developer for more than 7 years.
                Currently, I'm a Senior Frontend Developer in one of the biggest broadband provider 
                in my country and I also work as a part-time Wordpress Developer. <br><br>

                My expertise is to build a web application using a various Single-Page Application(SPA) frameworks
                like Angular(2+). I'm a type of a web developer who enjoys learning new technology and make something of it. <br><br>
            </p>
<!-- 
            <h3>Skills:</h3>
            <ul>
                <li>Javascript(Vanilla, Jquery)</li>
                <li>Angular(2+) / Angular Ionic</li>
                <li>HTML / HTML5</li>
                <li>CSS / CSS3</li>
                <li>Wordpress</li>
                <li>Bootstrap(v3, v4) and Material</li>
                <li>Rxjs</li>
                <li>REST Web Services</li>
                <li>GIT</li>
                <li>Typescript</li>
                <li>Responsive Web Design</li>
            </ul> -->
            <a href="#contact" class="text-primary font-nexa-bold text-xl no-underline mt-8">Message <i class="ml-3 fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>

<!-- Projects -->
<section class="flex items-center bg-dark-grey py-20">
    <div class="container grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-24 text-white px-6">
        <div class="flex flex-col">
            <img src="../../../assets/images/projects/bookmark.png" alt="">
            <h1>Project Nmae</h1>
            <p>Description</p>

            <div>
                stack used
            </div>
        </div>
        <div class="flex flex-col">
            <img src="../../../assets/images/projects/musicology.png" alt="">
            <h1>Project Nmae</h1>
            <p>Description</p>

            <div>
                stack used
            </div>
        </div>
        <div class="flex flex-col">
            <img src="../../../assets/images/projects/portfolio.png" alt="">
            <h1>Project Nmae</h1>
            <p>Description</p>

            <div>
                stack used
            </div>
        </div>
    </div>
</section>