section {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1300px;
    padding-left: calc(var(--spacer) * 4);
    padding-right: calc(var(--spacer) * 4);

    h2 {
      margin-bottom: calc(var(--spacer) * 1.5);
    }

    p {
      margin-bottom: calc(var(--spacer) * 1.5);
    }
  }
}

canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  z-index: -10;
}
