<main>
  <canvas #webgl class="webgl"></canvas>

  <section class="section1">
    <div class="container">
      <div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta nam
          aut corporis facilis maiores, maxime eos cum cupiditate nesciunt
          repudiandae. Maxime ipsam quibusdam voluptates recusandae sit.
          Corrupti, amet labore?
        </p>
      </div>
      <div></div>
    </div>
  </section>

  <section class="section2">
    <div class="container">
      <div></div>
      <div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta nam
          aut corporis facilis maiores, maxime eos cum cupiditate nesciunt
          repudiandae. Maxime ipsam quibusdam voluptates recusandae sit.
          Corrupti, amet labore?
        </p>
      </div>
    </div>
  </section>

  <section class="section3">
    <div class="container">
      <div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta nam
          aut corporis facilis maiores, maxime eos cum cupiditate nesciunt
          repudiandae. Maxime ipsam quibusdam voluptates recusandae sit.
          Corrupti, amet labore?
        </p>
      </div>
      <div></div>
    </div>
  </section>
</main>
